<p>What is your flight number?</p>



<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user) do |f| %>
      <%= f.label :flight %>
      <%= f.number_field :flight %>


      <%= f.submit "What is your flight number?", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>


<% if @flight %>
	<h1>Here is your flight Info</h1>
	<p>Number: <%= @flight.number %></p>
	<p>Minutes: <%= @flight.minutes %></p>
	<p>Origin: <%= @flight.origin %></p>
	<p>Destination: <%= @flight.destination %></p>
<% else %>
	<h1>Enter a Valid Flight Number</h1>
	<% end %>