<div class="container">
	<h2>In-Flight Entertainment Recommendations</h2>
	<div class="row">
	  <div class="col-md-6 col-md-offset-3">
	    <%= form_for(@user) do |f| %>
	      <%= "Flight Number:" %>
	      <%= f.number_field :flight_id %>


	      <%= f.submit "Submit", class: "btn btn-primary" %>
	    <% end %>
	  </div>
	</div><br>

	<% if @flight %>
		<h3>Flight Info:</h3>
		<p>Number: <%= @flight.number %></p>
		<p>Minutes: <%= @flight.minutes %></p>
		<br>

		<h3> What are you in the mood for?</h3>


		<%= form_for(@user) do |f| %>

			<p>
				<%= check_box_tag(:aaction, 1, @user.aaction) %>
				<%= label_tag(:aaction, "Action") %>
			</p>
			<p>
				<%= check_box_tag(:romance, 1, @user.romance) %>
				<%= label_tag(:romance, "Romance") %>
			</p>


			<p>
				<%= check_box_tag(:comedy, 1, @user.comedy) %>
				<%= label_tag(:comedy, "Comedy") %>
			</p>

			<%= f.hidden_field :flight_id, :value => @user.flight_id%>

	      <%= f.submit "Submit", class: "btn btn-primary" %>
	    <% end %>
	    <br>

		  <h3>Movie Recommendation:</h3>
		  <% if @recom %>
			  <% @recom.each do |movie| %>
			  	<p><%= movie.title %></p>
			  <% end %>
			  <% if @recom.empty? %>
			  	<p>This flight is too short for a movie!</p>
			  <% end %>
			<% end %>
			<br>

			<% if @movie_fit %>
			<h4>* Fill up your flight time as much as possible by watching:</h4>
				<% @movie_fit.each do |movie| %>
					<p><%= movie.title + ", " + movie.minutes.to_s + " minutes" %></p>
				<% end %>
			<% end %>


	<% else %>
		<h3>Enter a Valid Flight Number</h3>
	<% end %>
</div>